.tool-one-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 392px;
    height: 294px;
}

.top-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tool {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.tool-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.78);
}

.tool-status {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 165, 55, 0.55);
}

.description-tool-container {
    width: 325px;
    margin-top: 30px;
}

.description-tool-one {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.down-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 41px;
}

.heard-icon {
    width: 25px;
    height: 21px;
}

.folder-icon {
    width: 30px;
    height: 30px;
    margin-left: 28px;
}

.button {
    margin-left: 60px;
}
