.App-header-container {
    padding-top: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Header-logo-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.Logo-text {
    padding-left: 12px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.Header-text-center-container {
    color: rgba(255, 255, 255, 0.55);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 431px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vector-down {
    padding-left: 2px;
    padding-bottom: 1px;

}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-text {
    padding-right: 41px;
    width: 44px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.78);
    opacity: 0.78;
}

.sign-up-button {
    width: 118px;
    height: 48px;
    background-color: #FF6E30;
    border-radius: 8px;
    border-color: #FF6E30;
    border-width: 1px;
}

.sing-up-text {
    width: 62px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FDF5FF;
}
